/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;
body {
  @apply min-h-screen;
  @apply font-karla;
  background-image: url("../images/hex2.svg"),
    radial-gradient(rgb(168, 219, 255) 0%, rgba(63, 169, 245, 1) 61%);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.gradbl {
  background: radial-gradient(
    circle,
    rgb(168, 219, 255) 0%,
    rgba(63, 169, 245, 1) 61%
  );

  background-attachment: fixed;
}

.drop-shadow {
  box-shadow: 0px 3px 8px #727272af;
}

.purple-shadow {
  box-shadow: 0 3px 25px -13px rgb(211, 9, 226);
}
.gray-shadow {
  box-shadow: 0 3px 25px -13px #727272;
}
.quick-transition {
  @apply transition-all;
  @apply duration-300;
}
.grow:hover {
  transform: scale(1.2);
}

.blendExc {
  mix-blend-mode: exclusion;
}
x-spacer {
  @apply w-full;
  @apply block;
  @apply text-white;
  @apply p-2;
  @apply my-12;
}
.footer-button {
  @apply font-bold;
  @apply text-white;
  @apply no-underline;
  @apply px-2;
  @apply quick-transition;
}

.footer-button:hover {

  transform: scale(1.2);
  
}
.post-content h1 {
  @apply font-bold;
  @apply text-lg;
}

.post-content h2 {
  @apply font-light;
  @apply text-sm;
}

.post-content .url {
  @apply font-bold;
  @apply text-white;
}

.post-content .url:hover {
  @apply bg-secondary;
  @apply transition-all;
  @apply duration-300;
}

.post-content code {
  @apply block;
  @apply border-l-2;
  @apply px-2;
  @apply mx-2;
}

.post-content x-div {
  @apply my-2;
  @apply mx-auto;
  @apply block;
}

.post-content hr {
  @apply my-3;
}

.post-content .scaled {
    zoom: 1.25;
    -moz-transform: scale(1.27);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1.27);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1.27);
    -webkit-transform-origin: 0 0;
}

.post-content x-container {
  @apply w-full;
  @apply purple-shadow;
  @apply bg-primary;
  @apply bg-opacity-50;
  @apply block;
  @apply text-white;
  @apply p-2;
  @apply my-6;
}
.post-content x-spacer {
  @apply w-full;
  @apply block;
  @apply text-white;
  @apply p-2;
  @apply my-12;
}
.obj {
  @apply gray-shadow;
  @apply block;
  @apply my-6;
}
.post-content .obj {
  @apply gray-shadow;
  @apply block;
  @apply my-6;
}

.grainboy {
  height: 87%;
}

.post-content x-youtube-full {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  @apply obj;
}

.post-content x-youtube-full iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.post-content x-sqembed {
  display: block;
  position: relative;
  padding-bottom: 100%;
  height: 0;
  @apply obj;
}

.post-content x-sqembed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post-content li {

  @apply font-light;
  display: list-item;
  }
  .post-content ul {
    list-style-type: square;
    @apply pl-6;
    @apply py-3;
    }
@media (min-width: 768px) {
  .post-content x-column-container {
    @apply flex;
    @apply flex-wrap;
  }
}

@media (min-width: 768px) {
  .post-content x-column {
    width: 50%;
    display: block;
    @apply px-3;
  }
}

